html {
  font-size: 16px;
}

h1 {
  font-family: Righteous;
  font-size: 2.5 rem;
  color: rgb(255,0,171);
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  background-color: rgb(35,2,63);
  padding: 50px;
}

input {
  border-radius: 20px;
  padding: 5px;
  margin-right: 20px;
}

.fa-search {
  border-radius: 20px;
  background-color: rgb(255,102,204);
  text-align: center;
  padding: 5px;
}

.attributes {
  background-color: rgb(104,0,255);
  padding: 8px;
  color: white;
}

#search-button:hover {
  background-color: rgb(255, 0, 171 );
  cursor: pointer;
}

.fa-play-circle-o {
  color: rgb(255,102,204);
}

.track {
  display: flex;
  padding: .6rem;
  border-bottom: 1px solid #cccccc;
  line-height: 1;
  width: 100%;
}

.play-button a:hover {
  color: #ff66cc;
}

.track:hover {
  background-color: #f0eef3;
}
